<div class="row" style="height: 100%;">
  <div class="col-3">
    <%= erb :'vaccine/partials/nav_admin_side' %>
  </div>
  <div class="col-9">
    <div class="row mb-4 mt-4">
      <div class="row mt-4">
        <h4>Detalji o cjepivu</h4>
      </div>
    </div>
    <div class="row">
      <div class="mt-4" style="width: 50%;">
        <div class="mb-3 row">
          <label class="col-sm-4 col-form-label" for="name">Ime</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="name" value="<%= @vaccine.name %>" name="name" readonly>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-4 col-form-label" for="series">Serija</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="series" value="<%= @vaccine.series %>" name="series" readonly>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-4 col-form-label" for="doses_number">Broj doza</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="doses_number" value="<%= @vaccine.doses_number %>" name="doses_number" readonly>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-4 col-form-label" for="min_days_between_doses">Minimalan broj izmedu doza</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="min_days_between_doses" value="<%= @vaccine.min_days_between_doses %>" name="min_days_between_doses" readonly>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-4 col-form-label" for="max_days_between_doses">Maksimalan broj izmedu doza</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="max_days_between_doses" value="<%= @vaccine.max_days_between_doses %>" name="max_days_between_doses" readonly>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-4 col-form-label" for="start_date">Datum početka korištenja</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="start_date" value="<%= date_format(@vaccine.start_date) %>" name="start_date" readonly>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-4 col-form-label" for="expiration_date">Upotrebljivo do</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="expiration_date" value="<%= date_and_time_format(@vaccine.expiration_date) %>" name="expiration_date" readonly>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-4 col-form-label" for="vaccination_location">Mjesto korištenja</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="vaccination_location" value="<%= @location.address + ', ' + @location.city %>" name="vaccination_location_id" readonly>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-4 col-form-label" for="amount">Količina cjepiva</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="amount" value="<%= @vaccine.amount %>" name="amount" readonly>
          </div>
        </div>
          <a class="btn btn-outline-secondary mr-2" href="/admin/vaccines" role="button">Povratak</a>
      </div>
    </div>
  </div>
</div>
